@using SPM.Web.Areas.Administration.ViewModels.Clients
@{
    ViewBag.Title = "Clients";
    const string ControllerName = "Client";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo()
        .Grid<ClientViewModel>()
    .Name("grid")
    .Columns(cols =>
        {
            cols.Bound(c => c.Id).Hidden();
            cols.Bound(c => c.Name);
            cols.ForeignKey(p => p.CreatedById, (System.Collections.IEnumerable)ViewData["users"], "Id", "UserName")
                .Title("Created By");
            cols.Bound(c => c.IsDeleted);
            cols.Command(command =>
            {
                command.Edit();
                command.Destroy();
            });
        })
    .ToolBar(tool =>
    {
        tool.Create();
    })
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
    .Sortable()
    .Pageable()
    .Groupable()
    .Filterable()
    .Editable(edit =>
            {
                edit.Mode(GridEditMode.PopUp);
            })
        .Selectable(select => select.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Cell))
        .DataSource(data => data
        .Ajax()
        .Events(events => events.Error("error_handler"))
        .Model(m => m.Id(pr => pr.Id))
        .PageSize(10)
        .ServerOperation(true)
        .Create("Create", ControllerName)
        .Read(read => read.Action("Read", ControllerName))
        .Update("Update", ControllerName)
        .Destroy("Destroy", ControllerName)
        )
)
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>

